body {
    background-color: rgb(211, 255, 211);
}


.leftImage {
    height: 750px;
    width: 600px;
    margin: 10px;
    border-color: rgb(0, 0, 0);
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    }

    h1 {text-align: center;}
    h3 {text-align: center;}

span{text-align: right;
    float: right;}

.rightimage {
    float: right;
    height: 750px;
    width: 600px;
    margin: 10px;
    border-color: rgb(0, 0, 0);
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
  }
.righttext { text-align: right; float:right;}

.lefttext { text-align: left; float:left;}

p{font-family:'Times New Roman';}